        <div class="row">
          <div class="col-4 mb-4"></div>
          <div class="col-4 mb-4">
            <form action="/product/filterCategory" method="POST">
            <select class="form-control" name="product_cat_filter">
              <option value="">Valassz csoportot</option>
                {{#each group}}
                  <option value="{{this.groupname}}">{{this.groupname}}</option>
                {{/each}}
            </select>
            
          </div>
          <div class="col-4 text-left mb-4">
            <input type="submit" value="Szures" class="btn btn-primary">
            </form>
          </div>
        </div>
        
        
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <div class="row">
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a {{#ifequals order "asc" orderby "product_id"}}href="/product?page={{page}}&orderby={{orderby}}&order=desc"{{/ifequals}} {{#ifequals order "desc" orderby "product_id"}}href="/product?page={{page}}&orderby={{orderby}}&order=asc"{{/ifequals}} {{#unless orderby}}href="/product?page={{page}}&orderby=product_id&order=asc"{{/unless}} {{#ifnoteq orderby "product_id"}}href="/product?page={{page}}&orderby=product_id&order=asc"{{/ifnoteq}}>ID{{#ifequals order "asc" orderby "product_id"}}<i class='lni lni-angle-double-up'></i>{{/ifequals}} {{#ifequals order "desc" orderby "product_id"}}<i class='lni lni-angle-double-down'></i>{{/ifequals}}</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a {{#ifequals order "asc" orderby "product_name"}}href="/product?page={{page}}&orderby={{orderby}}&order=desc"{{/ifequals}} {{#ifequals order "desc" orderby "product_name"}}href="/product?page={{page}}&orderby={{orderby}}&order=asc"{{/ifequals}} {{#unless orderby}}href="/product?page={{page}}&orderby=product_name&order=asc"{{/unless}} {{#ifnoteq orderby "product_name"}}href="/product?page={{page}}&orderby=product_name&order=asc"{{/ifnoteq}}>Megnevezes{{#ifequals order "asc" orderby "product_name"}}<i class='lni lni-angle-double-up'></i>{{/ifequals}} {{#ifequals order "desc" orderby "product_name"}}<i class='lni lni-angle-double-down'></i>{{/ifequals}}</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a {{#ifequals order "asc" orderby "product_cat"}}href="/product?page={{page}}&orderby={{orderby}}&order=desc"{{/ifequals}} {{#ifequals order "desc" orderby "product_cat"}}href="/product?page={{page}}&orderby={{orderby}}&order=asc"{{/ifequals}} {{#unless orderby}}href="/product?page={{page}}&orderby=product_cat&order=asc"{{/unless}} {{#ifnoteq orderby "product_cat"}}href="/product?page={{page}}&orderby=product_cat&order=asc"{{/ifnoteq}}>Csoport{{#ifequals order "asc" orderby "product_cat"}}<i class='lni lni-angle-double-up'></i>{{/ifequals}} {{#ifequals order "desc" orderby "product_cat"}}<i class='lni lni-angle-double-down'></i>{{/ifequals}}</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center">Muveletek</th>
                    </div>
                </div>
            </thead>
            <tbody>
                {{#each products}}
                <div class="row">
                    <tr id="{{this.id}}">
                        <div class="col-3">
                            <td class="align-middle text-center" data-id="{{this.id}}">{{this.id}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center" data-name="{{this.name}}">{{this.name}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center" data-category="{{this.groupname}}">{{this.groupname}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center"><button class="btn btn-info" onclick="editProduct({{this.id}})">Szerkesztes</button>
                            <button class="btn btn-danger" onclick="deleteProduct({{this.id}})">Torles</button></td>
                        </div>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="container text-right d-flex flex-row justify-content-end align-items-center">
    <button id="change-onclick" type="button" class="btn btn-primary" onclick="addProd()">Új termék</button>
    </div>

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <ul id="pagination" class="pagination">
          <input type="hidden" id="page-num" value="{{page}}">
          <input type="hidden" id="page-order" value="{{order}}">
          <input type="hidden" id="page-orderby" value="{{orderby}}">
          {{#ifnoteq page "1"}}<a {{#if order}}href="/product?page={{minusPage}}&orderby={{orderby}}&order={{order}}"{{/if}}{{#unless order}}href="/product?page={{minusPage}}"{{/unless}}><li class="btn btn-info" >Elozo</li></a>{{/ifnoteq}}
          {{#iterateNTimes lastPage}}<a {{#if ../order}}href="/product?page={{this}}&orderby={{../orderby}}&order={{../order}}"{{/if}}{{#unless ../order}}href="/product?page={{this}}"{{/unless}}><li class="btn border {{#ifeq ../this page}}btn_info{{/ifeq}}">{{this}}</li></a>{{/iterateNTimes}}
          {{#ifnoteq page lastPage}}<a {{#if order}}href="/product?page={{plusPage}}&orderby={{orderby}}&order={{order}}"{{/if}}{{#unless order}}href="/product?page={{plusPage}}"{{/unless}}><li class="btn btn-info">Kovetkezo</li></a>{{/ifnoteq}}
        </ul>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="modal fade" id="product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Uj termek felvitele</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
          <div class="container">
              <form action="/editProduct" method="POST" id="add-edit-form">
              <div class="row mt-4">
                  <div class="col-4 text-center mt-2">
                      <label for="product_name">Megnevezes</label>
                  </div>
                  <div class="col-8 text-left mt-2">
                      <input class="w-100" type="text" id="product_name" name="product_name">
                  </div>
                  <div class="col-4 text-center mt-4">
                      <label for="product_cat">Csoport</label>
                  </div>
                  <div class="col-8 text-left mt-4">
                      <select class="form-control" id="product-cat" name="product_cat" multiple=true>
                                <option>Valassz csoportot</option>
                                {{#each group}}
                                {{#unless this.parent_id}}<optgroup label="{{this.groupname}}">
                                  <option value="{{this.groupname}}">{{this.groupname}}</option>
                                  {{#each ../group}}
                                    {{#ifeq this.parent_id ../this.id}}<option value="{{this.groupname}}">{{this.groupname}}</option>{{/ifeq}}
                                  {{/each}}
                                </optgroup>{{/unless}}
                                {{/each}}
                        </select>
                        <input type="hidden" id="hidden-id" name="id" value="" />
                  </div>
                  <div class="col-4 text-center mt-2">
                      <label for="product_description">Leiras</label>
                  </div>
                  <div class="col-8 text-left mt-2">
                      <textarea class="w-100" type="text" id="product_description" name="product_description"></textarea>
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-2">
                      <button type="button" class="btn btn-info" onclick="cancel()">Megse</button>
                  </div>
                  <div class="col-8">

                  </div>
                  <div class="col-2">
                      <input type="submit" value="OK" class="btn btn-primary">
                  </div>
              </div>
              </form>
          </div>
        
          
      </div>
    </div>
  </div>
</div>

    <div class="modal fade" id="del-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Termek torlese</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
          <div class="container">
              <form action="/product/deleteProduct" method="POST" id="del-form">
              <div class="row mt-4">
                  <h4>Biztosan torlod ezt az elemet?</h4>
                  <input type="hidden" id="del-id" name="id" value="" />
              </div>
              <div class="row mt-5">
                  <div class="col-2">
                      <button type="button" class="btn btn-info" onclick="cancel()">Megse</button>
                  </div>
                  <div class="col-8">

                  </div>
                  <div class="col-2">
                      <input type="submit" value="OK" class="btn btn-primary">
                  </div>
              </div>
              </form>
          </div>
        
          
      </div>
    </div>
  </div>
</div>





<script>

    // pagination megfelelo felparameterezese
    const page = document.getElementById('page-num').value;
    const page_order = document.getElementById('page-order').value;
    const page_orderby = document.getElementById('page-orderby').value;

    const prevPage = document.getElementById('prev');
    const nextPage = document.getElementById('next');
    const actualPage = document.getElementById('page-current');

    //pagination linkek generalasa

    // actualPage.innerText = page;
    // if (page == 1) {
    //   prevPage.style.display = "none";
    //   nextPage.href = `/product?page=${+page + 1}`;
    //   if (page_order && page_orderby) {
    //     nextPage.href = `/product?page=${+page + 1}&orderby=${page_orderby}&order=${page_order}`;
    //   }
    // }
    // else {
    //   prevPage.href = `/product?page=${+page - 1}`;
    //   nextPage.href = `/product?page=${+page + 1}`;
    //   if (page_order && page_orderby) {
    //     prevPage.href = `/product?page=${+page - 1}&orderby=${page_orderby}&order=${page_order}`;
    //     nextPage.href = `/product?page=${+page + 1}&orderby=${page_orderby}&order=${page_order}`;
    //   }
    // }
  

  const formAddEdit = document.getElementById('add-edit-form');
  // const formDel = document.getElementById('del-form');
  const productCat = document.getElementById('product-cat');
  const productName = document.getElementById('product_name');
  const hiddenId = document.getElementById('hidden-id');
  const delId = document.getElementById('del-id');


    function addProd() {
        // biztos ami biztos beallitom a termek hozzaadas endpointot actionkent
        productCat.value = "";
        productName.value = "";
        hiddenId.value = "";

        formAddEdit.removeAttribute('action');
        formAddEdit.setAttribute('action', '/product/product');

        $('#product').modal();  
    }

    function cancel() {
        $('#product').modal('hide');
    }

    function editProduct(id) {
      // kinullazom az elkuldendo ertekeket, ha netalantan kikattintott a user egy elozo szerkesztes modalbol
        productCat.value = "";
        productName.value = "";
        hiddenId.value = "";
        //id=t kapom kattintaskor, a nem es category-t a .children-bol szedem ki
        const row = document.getElementById(id);
        let name;
        let category;
        for(let i = 0; i < row.children.length; i++ ) {
            if (row.children[i].getAttribute("data-name")) name = row.children[i].getAttribute("data-name");
            if (row.children[i].getAttribute("data-category")) category = row.children[i].getAttribute("data-category");
        }
        console.log(category)
        //a splittel mindenkeppen tomb jon letre, ha csak egy kategoriat valasztottunk ki, akkor egy egy elemu array
        category = category.split(",")
        console.log(category, name)


        // Ha egy termek tobb kategoriahoz is tartozik, ezzel beallitom, hogy szerkeszteskor mind belegyen jelolve
        for (let i = 0; i < productCat.options.length; i++) {
           productCat.options[i].selected = category.indexOf(productCat.options[i].value) >= 0;
        }
        //productCat.value = category;
        productName.value = name;

        hiddenId.value = id;

        //megvaltoztatom a form action reszet a szerkesztes endpointra
        formAddEdit.removeAttribute('action');
        formAddEdit.setAttribute('action', '/product/editProduct');

        // 
        $('#product').modal(); 
    }


    function deleteProduct(id) {
        delId.value = id;
        $('#del-product').modal();
    }


</script>