        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <div class="row">
                    <div class="col-3 w-100">
                        <th class="align-middle text-center">ID</th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a {{#ifequals order "asc" orderby "product_name"}}href="/storage?page={{page}}&orderby={{orderby}}&order=desc"{{/ifequals}} {{#ifequals order "desc" orderby "product_name"}}href="/storage?page={{page}}&orderby={{orderby}}&order=asc"{{/ifequals}} {{#unless orderby}}href="/storage?page={{page}}&orderby=product_name&order=asc"{{/unless}} {{#ifeq orderby "product_quantity"}}href="/storage?page={{page}}&orderby=product_name&order=asc"{{/ifeq}}>Megnevezes{{#ifequals order "asc" orderby "product_name"}}<i class='lni lni-angle-double-up'></i>{{/ifequals}} {{#ifequals order "desc" orderby "product_name"}}<i class='lni lni-angle-double-down'></i>{{/ifequals}}</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center"><a {{#ifequals order "asc" orderby "product_quantity"}}href="/storage?page={{page}}&orderby={{orderby}}&order=desc"{{/ifequals}} {{#ifequals order "desc" orderby "product_quantity"}}href="/storage?page={{page}}&orderby={{orderby}}&order=asc"{{/ifequals}} {{#unless orderby}}href="/storage?page={{page}}&orderby=product_quantity&order=asc"{{/unless}} {{#ifeq orderby "product_name"}}href="/storage?page={{page}}&orderby=product_quantity&order=asc"{{/ifeq}}>Mennyiseg{{#ifequals order "asc" orderby "product_quantity"}}<i class='lni lni-angle-double-up'></i>{{/ifequals}} {{#ifequals order "desc" orderby "product_quantity"}}<i class='lni lni-angle-double-down'></i>{{/ifequals}}</a></th>
                    </div>
                    <div class="col-3 w-100">
                        <th class="align-middle text-center">Muveletek</th>
                    </div>
                </div>
            </thead>
            <tbody>
                {{#each storage}}
                <div class="row">
                    <tr>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.id}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.name}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center">{{this.stock}}</td>
                        </div>
                        <div class="col-3">
                            <td class="align-middle text-center"><button class="btn btn-info" onclick="editQuantity({{id}})">Szerkesztes</button></td>
                        </div>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>
    </div>

  <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <ul id="pagination" class="pagination">
          <input type="hidden" id="page-num" value="{{page}}">
          <input type="hidden" id="page-order" value="{{order}}">
          <input type="hidden" id="page-orderby" value="{{orderby}}">
          <a id="prev"><li class="btn btn-info mr-2" >Elozo</li></a>
          <li id="page-current" class="btn border mr-2">1</li>
          <a id="next"><li class="btn btn-info">Kovetkezo</li></a>
        </ul>
      </div>
      <div class="col-4"></div>
    </div>



<div class="modal fade" id="stock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Add meg az adott termek darabszamat!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
          <div class="container">
              <form action="/storage/editStock" method="POST">
              <div class="row mt-4" id="modal-content">
                  <div class="col-4 text-center mt-2">
                      <label for="stock_quantity">db:</label>
                  </div>
                  <div class="col-8 text-left mt-2">
                      <input class="w-100" type="text" id="stock_quantity" name="stock_quantity">
                      <input type="hidden" id="stock_item_id" name="stock_item_id" value="" >
                  </div>
              </div>
              <div class="row mt-5">
                  <div class="col-2">
                      <button type="button" class="btn btn-info" onclick="cancel()">Megse</button>
                  </div>
                  <div class="col-8">

                  </div>
                  <div class="col-2">
                      <input type="submit" value="OK" class="btn btn-primary">
                  </div>
              </div>
              </form>
          </div>



<script>

    const page = document.getElementById('page-num').value;
    const page_order = document.getElementById('page-order').value;
    const page_orderby = document.getElementById('page-orderby').value;

    const prevPage = document.getElementById('prev');
    const nextPage = document.getElementById('next');
    const actualPage = document.getElementById('page-current');

    //pagination linkek generalasa

    actualPage.innerText = page;
    if (page == 1) {
      prevPage.style.display = "none";
      nextPage.href = `/storage?page=${+page + 1}`;
      if (page_order && page_orderby) {
        nextPage.href = `/storage?page=${+page + 1}&orderby=${page_orderby}&order=${page_order}`;
      }
    }
    else {
      prevPage.href = `/storage?page=${+page - 1}`;
      nextPage.href = `/storage?page=${+page + 1}`;
      if (page_order && page_orderby) {
        prevPage.href = `/storage?page=${+page - 1}&orderby=${page_orderby}&order=${page_order}`;
        nextPage.href = `/storage?page=${+page + 1}&orderby=${page_orderby}&order=${page_order}`;
      }
    }


    function editQuantity(id) {
      document.getElementById('stock_item_id').value = id;
        $('#stock').modal();
    }

    function cancel() {
      document.getElementById('stock_item_id').value = "";
        $('#stock').modal('hide');
    }
</script>